@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
    
}
body{
    
    margin: 0;
    padding: 0;
   background-color: rgb(3, 0, 32);

}
.banner {
    position: relative;
     
    background: url("shan-qiao-worlds.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden; margin-top: 50px;
  }
  .banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%; /* Adjust the percentage of the banner's height to be covered by the gradient */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgb(3, 0, 32))  ;
    backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 1.3rem 10%;
   /* background: rgba(0,0,0,.1);*/
   /*backdrop-filter: blur(30px);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before {
    content: '';
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    background:   rgba(0,0,0,.1); 
    backdrop-filter: blur(30px); 
    z-index: -1;

  
    
}
.logo{
    font-size: 1.5rem;
    color:#00BAD5;
    text-decoration: none;
    font-weight: 700;
    z-index: 100;
}
.navbar a{
    font-size:1rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem;
    
}
.navbar a:hover {
    color: #00BAD5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: rgba(0,0,0,.1);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content a {
    color: #fffbfb;
    padding-top: 20px;
     padding-bottom: 14px;
   /* padding: 16px 16px;*/
    margin-top: 15px;
    text-decoration: none;  
    top: 100%;
    display: block; 
    white-space: nowrap;
}

.dropdown-content a:hover {
    background-color: #dddddd3b;
    width:100%;
    display: flex;
}

#check{
    display: none;
}
.icons{
    position: absolute; right: 5%;
    font-size: 2.8rem;
    color: #fff;
    cursor:pointer;
    display: none;
    

}
@media (max-width:992px)
{
    .header{
        padding:1.3rem 5%;

    }
}
@media (max-width:768px)
{
    .icons{
        display:inline-flex;

    }
    #check:checked~.icons #menu-icon
{
    display: none;
}   
.icons #close-icon {
    display: none;
}
#check:checked~.icons #close-icon
{
    display: block;
}   



.navbar{
        position: absolute;
        top:0%;
        left:0;
        width:100%;
        height: 0;
        background:#0000001a;
        backdrop-filter: blur(50px);
        box-shadow: o.5rem 1 rem rgba(0,0,0,.1);
        
    }
    #check:checked~.navbar {
        height: 21rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin:1.5rem 0;
        text-align:center;
        
    }
    
}
.info-container {
    padding-top: 320px;
    display: flex; margin-left: 13px;
    width: 40%;
    align-items: flex-start; justify-content: space-between;
    justify-content: flex-start;
}

.glass-style {
    background-color: rgba(255, 255, 255, 0);  
    padding: 20px;  
    border-radius: 40px; 
    backdrop-filter: blur(5px);  
    width: 100%;  position: relative;
    top: -50px;  
}

.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #1E1E1E;
    font-size: 20px;
    font-family: 'Clash Display', sans-serif;
    font-weight: 300;
    word-wrap: break-word;
}
.description-container h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fffafa;
    font-size: 30px;
    font-family: 'Clash Display', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}
.role-text {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff8f8;
    font-size: 30px; /* Increased font size */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    text-align: center;
}
.description-container p{
    color: #f2f2f2;
}

.buttons-container {
    display: flex; margin:auto;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    gap: 16px;
}

.download-button {
    padding: 16.06px 47.49px;
    border-radius: 69.84px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 6.98px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    border: 0.70px #00BAD5 solid;
    color: #00BAD5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
    background-color: #00BAD5;
    cursor: pointer;
    color: #10100E;
    transition-delay: 0.3s;
}

.download-button a {
    text-decoration: none;
    color: #00BAD5;
    transition: color 0.3s ease;
}

a:hover {
    color: black;
}
.about {
    width: 100%;
    padding: 78px 0;
}

/*.about img {
    height: auto;
    width: 300px;  
    border-radius: 10px; 
}*/

.about-section {
    padding: 20px; padding-bottom: 0; 
    background-color: rgb(3, 0, 32);
    border-radius: 10px;
    
    margin: 20px;
    max-width: 1130px;  
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;  
}

.about-section h1 {
    color: #00BAD5; 
    width: 100%;  
    max-width: 550px; 
    margin-bottom: 20px;  
}

.about-section p {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 800px;  
}
  
  
    
.container {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(253, 253, 253);
}
.serviced{
    width: 100%;
     padding-top: 0px;
}
.service-wrapper {
    padding: 5% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #00BAD5 ;
    font-size: 3rem;
}

h3 {
    font-size: 1.1rem;
    color: #024e8b;
}

p {
    color: #024e8b;
    width: 60%;
    text-align: center;
    
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
     margin-top: 42px;

}

.card{
    height: 300px;
    width:33col0px;
background-color: rgba(177, 215, 250, 0.774);
padding: 3% 8%;
border-radius: 8px;
transition: 0.6s;
} 
 .card i{
color: #024e8b;
margin-top: 40px;
margin-bottom: 15px;
font-size: 2.1rem;

 }
 .card p{
    text-align: left;
    margin: 20px 0;
    width:100%;
 }
 .card:hover{
    background:linear-gradient(90deg,#00BAD5,#004bd5 );
    transform: translateY(-8px);
 }
 .card:hover i{
    color: #0a0a0a;
    
    }
    .card:hover h3 {
        color: #0a0a0a;
    }
    .card:hover p{
        color: #0a0a0a;
    }
    @media(max-width:800px){
        .cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media(max-width:600px){
        .cards{
            grid-template-columns: repeat(1,1fr);

        }
       h1{
        font-size: 2rem;
       }
       p{
        width: 80%;
       }
    }
    @media(max-width:400px){
        .card{
            height:200px;
            width:220px;
        }
        card i{
            margin-top: 20px;
        }
        h3{
            margin-bottom: 12px;


        }
        p{
            width: 90%;

        }
    }
    footer{
        background-color: #000000ff;
        position: relative;
        width: 100%;
        min-height: 350px;
        padding: 3rem 1rem;
   }
   .contain  {
       max-width: 1140px;
       margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   
   
   }
   .row{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   
   .col{
       min-width: 250px;
       color:#f2f2f2f2;
       font-family: poppins;
       padding:0 2rem;
   }
   .col .logo{
       width: 100px;
       margin-bottom:25px;
   }
   .col h3{
       color:#00BAD5 ;
       margin-bottom: 20px;
       position: relative;
       cursor: pointer;
   }
   .col h3::after{
       content: '';
       height:3px;
       width:0px;
       background-color:  #00BAD5;
       position: absolute;
       bottom: 0;
       left:0;
       transition: 0.3s ease;
   
   }
   .col h3:hover::after{
       width:30px
   }
   .col .social a i{
       color: #00BAD5;
       margin-top:2rem;
       margin-right: 5px;
       transition: 0.3s ease;
   }
   .col .social a i:hover{
       transform: scale(1.5);
       filter:grayscale(25);
   }
   .col .links a{
       display: block;
       text-decoration: none;
       color:#f2f2f2;
       margin-bottom: 5px;
       position: relative;
       transition: 0.3s ease;
   }
   .col .links a::before{
       content:'';
       height: 16px;
       width:3px;
       position: absolute;
       top:5px;
       left:-10px;
       background-color: #00BAD5;
       transition: 0.5s ease;
       opacity: 0;
   }
   .col .links a:hover::before{
       opacity: 1;
   }
   .col .links a:hover{
       transform: translateX(-8px);
       color:  #00BAD5;
   }
   .col .contact-details{
       display: inline-flex;
       justify-content: space-between;
   }
   .col .contact-details i{
       margin-right:15px;
   }
   .row .form{
       display: flex;
       justify-content: center;
       align-items: center;
       padding:2rem 0;
   }
   .row .form input{
       background-color: #1a1c20ff;
       border:0;
       outline:none;
       padding:14px 20px;
       border-radius: 6px;
       border-top-right-radius: 0;
       border-bottom-right-radius: 0;
   }
   .form button{
       padding:14px 20px;
       border:0;
       border-radius: 6px;
       border-top-left-radius: 0;
       border-bottom-left-radius: 0;
       background-color:   #00BAD5;
   }
   
   /********** Responsive Design ********/
   @media(max-width:900px)
   {
     .row{
       flex-direction: column;
     }
     .col{
       width: 100%;
       text-align: left;
       margin-bottom: 25px;
     }
   }
   @media(max-width:768px)
   {
     .row{
       flex-direction: column;
     }
     .col{
       width: 100%;
       text-align: left;
       margin-bottom: 20px;
     }
   }
   .choose-container {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(253, 253, 253);
}
.choosed{
    width: 100%;
     padding-top: 0px;
}
.choose-wrapper {
    padding: 5% 8%;
}

.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #00BAD5 ;
    font-size: 3rem;
}

h3 {
    font-size: 1.1rem;
    color: #024e8b;
}

p {
    color: #024e8b;
    width: 60%;
    text-align: center;
    
}

.choose-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
     margin-top: 42px;

}

.choose-card{
    height: 350px;
    width:33col0px;
background-color: rgba(177, 215, 250, 0.774);
padding: 3% 8%;
border-radius: 8px;
transition: 0.6s;
} 
 .choose-card i{
color: #024e8b;
margin-top: 40px;
margin-bottom: 15px;
font-size: 2.1rem;

 }
 .choose-card p{
    text-align: left;
    margin: 20px 0;
    width:100%;
 }
 .choose-card:hover{
    background:linear-gradient(90deg,#00BAD5,#004bd5 );
    transform: translateY(-8px);
 }
 .choose-card:hover i{
    color: #0a0a0a;
    
    }
    .choose-card:hover h3 {
        color: #0a0a0a;
    }
    .choose-card:hover p{
        color: #0a0a0a;
    }
    @media(max-width:800px){
        .choose-cards{
            grid-template-columns: repeat(2,1fr);
        }
    }
    @media(max-width:600px){
        .choose-cards{
            grid-template-columns: repeat(1,1fr);

        }
       h1{
        font-size: 2rem;
       }
       p{
        width: 80%;
       }
    }
    @media(max-width:400px){
        .choose-card{
            height:200px;
            width:220px;
        }
        .choose-card i{
            margin-top: 20px;
        }
        h3{
            margin-bottom: 12px;


        }
        p{
            width: 90%;

        }
    }
    .industries{
        display: flex; padding-top: 60px;
        flex-direction: column;
        align-items: center; padding-bottom: 70px;
       }
       .industries-icon{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 20px;
       }
       .industries-icon ul {
        display: flex;
        list-style: none;
        padding: 0;
      }
      
      .industries-icon ul li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0090a7 ; /* Set the desired color */
        font-size: 40px;
        height: 80px;
        width: 80px;
        background: rgb(3, 0, 32) ;
        line-height: 60px;
        border-radius: 50%;
        margin: 0 15px;
        cursor: pointer;
        transition: 0.5s;
      }
       
      .industries p{
        color: #f2f2f2;
      }
      .industries-icon ul li:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: inherit;
        background: #fafafa; /* Set the desired color */
        border-radius: 50%;
        transform: scale(.9);
        z-index: -1;
        transition: 0.5s; 
      }
      .industries-icon i
      ul li:hover:before {
        filter: blur(3px);
        transform: scale(0.8);
      }
      
      .industries-icon ul li:hover {
        color:  #fcfeff; /* Set the desired color */
        box-shadow: 0 0 15px #fafafa; /* Set the desired color */
        text-shadow: 0 0 15px #fdfdfd; /* Set the desired color */
      }.over-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px; /* Adjust as needed */
    }
    
    .over-text h2 {
        font-size: 2rem;
    }
    
      
    .overcoming-container {
        position: relative;
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    
    .overcoming-container h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .overcoming-container .overcoming-box {
        position: relative;
        width: 200px;
        height: 70px;
        background: #d8eef3;
        cursor: pointer;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, .025);
        transition: 0.5s ease-in-out;
    }
    
    .overcoming-container .overcoming-box:nth-child(1) {
        transform: translateY(30px);
    }
    .overcoming-container .overcoming-box:nth-child(2) {
        transform: translateY(-30px);
    }
    
    .overcoming-container .overcoming-box:nth-child(3) {
        transform: translateY(30px);
    }
    .overcoming-container .overcoming-box:nth-child(4) {
        transform: translateY(-30px);
    }
    
    .overcoming-container .overcoming-box:nth-child(5) {
        transform: translateY(30px);
    }
    
    .overcoming-container:hover .overcoming-box:nth-child(1) {
        transform: translateY(0);
    }
    .overcoming-container:hover .overcoming-box:nth-child(2) {
        transform: translateY(0);
    }
    
    .overcoming-container:hover .overcoming-box:nth-child(3) {
        transform: translateY(0);
    }
    .overcoming-container:hover .overcoming-box:nth-child(4) {
        transform: translateY(0);
    }
    .overcoming-container:hover .overcoming-box:nth-child(5) {
        transform: translateY(0);
    }
    
    .overcoming-container .overcoming-box::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background: #004bd5;
    }
    
    .additional-paragraph {
        margin-top: 80px;
        padding-right: 20px;
    }
     /*----------------------------TEXT-------------------------------------------------------------------------------------------------------*/
    .Empower-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px; /* Adjust as needed */
    }
     .Empower-text h2{
        padding-top: 100px;
        font-size: 2rem;
     }
     .Empower-text p{
        font-size: 1rem; width: 85%; padding-top: 30px;
     }
     .Adv-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
         margin-top: 42px;
    
    }
    .Adv-container{
        width: 100%;
    }
    .Adv-card{
        height: 200px;
        width:33col0px;
    background-color: rgba(0, 17, 65, 0.479);
    padding: 3% 8%;
    border-radius: 8px;
    transition: 0.6s;
    } 
     .Adv-card i{
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 2.1rem;
    
     }
     .Adv-container p{
       font-size: 1rem;
        margin: 20px 0;margin-top: 12px;
        width:100%; color: #d8eef3;
     }
     .Adv-card:hover{
        background:linear-gradient(90deg,#00BAD5,#004bd5 );
        transform: translateY(-8px);
     }
     .Adv-card:hover i{
        color: #0a0a0a;
        
        }
        .Adv-card:hover h3 {
            color: #0a0a0a;
        }
        .Adv-card:hover p{
            color: #0a0a0a;
        }
        @media(max-width:800px){
            .Adv-cards{
                grid-template-columns: repeat(2,1fr);
            }
        }
        @media(max-width:600px){
            .Adv-cards{
                grid-template-columns: repeat(1,1fr);
    
            }
           h1{
            font-size: 2rem;
           }
           p{
            width: 80%;
           }
        }
        @media(max-width:400px){
            .Adv-card{
                height:200px;
                width:220px;
            }
            .Adv-card i{
                margin-top: 20px;
            }
            h3{
                margin-bottom: 12px;
    
    
            }
            p{
                width: 90%;
    
            }
        }
        .Strength{
            width: 100%;
            background-color: rgb(253, 253, 253);
        }
         
        .str-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center; width:100%;
            padding: 40px; /* Adjust as needed */
        }
        .str-text h3{
                padding-top: 20px;
        }
        .str-cards{
            display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
     margin-top: 42px;
        }
        .str-card{
            position: relative;
            width: 250px;
            height: 250px;
            background-image: linear-gradient(-45deg, #299bf8 0%, #8894fc 100% );
            border-radius: 15px;
            display: flex;
            padding: 2px 5px;width: 100%;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
        .heading h4{
          font-size: 6rem; font: weight 100px;color: #10100E;
        }
        .para{
            color: #0a0a0a;
        }
        .str-card:hover{
            transform: scale(1);
            transition: all 0.3s ease-in-out;
            background-image: linear-gradient(-45deg, #8894fc 0%, #8ac7f8 100% );
        }
        .Dig-cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
             margin-top: 20px;
        
        }
        .Dig-container{
            width: 100%;
        }
        .Dig-card{
            height: 200px;
            width:33col0px;
        background-color: rgba(104, 143, 248, 0.774);
        padding: 3% 8%;
        border-radius: 8px;
        transition: 0.6s;
        } 
         .Dig-card i{
        color: #ffffff;
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 2.1rem;
        
         }
         .Dig-container p{
           font-size: 1rem;
            margin: 20px 0;margin-top: 12px;
            width:100%; color: #d8eef3;
         }
         .Dig-card:hover{
            background:linear-gradient(90deg,#00BAD5,#5387e9 );
            transform: translateY(-8px);
         }
         .Dig-card:hover i{
            color: #0a0a0a;
            
            }
            .Dig-card:hover h3 {
                color: #0a0a0a;
            }
            .Dig-card:hover p{
                color: #0a0a0a;
            }
            @media(max-width:800px){
                .Dig-cards{
                    grid-template-columns: repeat(2,1fr);
                }
            }
            @media(max-width:600px){
                .Dig-cards{
                    grid-template-columns: repeat(1,1fr);
        
                }
               h1{
                font-size: 2rem;
               }
               p{
                width: 80%;
               }
            }
            @media(max-width:400px){
                .Dig-card{
                    height:200px;
                    width:220px;
                }
                .Dig-card i{
                    margin-top: 20px;
                }
                h3{
                    margin-bottom: 12px;
        
        
                }
                p{
                    width: 90%;
        
                }
            }
            .product-cards{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                 margin-top: 20px;
            }
            .product-card {
                width: 400px;
                margin: 20px;
                background-color: #fff;
                padding: 15px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                text-align: center;

            }
            
            .product-card img {
                width: 100%;
                height: auto;
                border-radius: 8px;
            }
            
            .product-card h2 {
                color: #333;
                margin-top: 10px;
            }
            
            .product-card p {
                color: #555;  width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 20px;
                padding-top: 20px;
            }
            
            .buy-now-button {
                background-color: #3498db;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
            
            .buy-now-button:hover {
                background-color: #1b5a92;
            }
            .buy-now-button:hover{
                background-color: #001e35;
                cursor: pointer;
                color: #fcfcfc;
                transition-delay: 0.3s;

            }
            .centerimg-container {
                text-align: center;height: 300px;
            }
            
            .centerimg-container img {
                display: block;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }
            .Transformation{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                 margin-top: 20px;  margin-left: 25px;
            }
             
            .Transformation .product-card {
                width: 350px;
                margin: 20px;
                background-color: #fff;
                padding: 15px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
                text-align: center;

            }
            .list{
                position: relative; width: 500px; padding-top: 50px;  
            }
            
             
            .list ul{
                position: relative;
            }
            .list ul li{
                position: relative;
                left:0;
                color:#999;
                list-style: none;
                margin: 4px 0;
                border-left: 2px solid #00BAD5;
                transition: left 0.5s, color 0.5s;
                cursor: pointer;
            }
            .list ul li::before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                 
                transform: scaleX(0);
                transform-origin: left;
                transition: 0.5s;
            }
            .list ul li::before{
                transform: scaleX(1.5);
            }
            .list ul li:hover{
                left: 10px;

            }
            .list ul li span{
                position: relative;
                padding: 8px;
                display: inline-block;
                z-index: 1; font-size: 1.3rem;
                transition: 0.5s;
            }
            .list ul li:hover span{
                color: #00BAD5;
            }
            .Empowered-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 40px; /* Adjust as needed */
            }
             .Empowered-text h2{
                padding-top: 100px;
                font-size: 2rem; color: #fff;
             }
             .Empowered-text p{
                font-size: 1.5rem; width: 85%; padding-top: 30px; color: #00BAD5;
             }
             .Strategies-cards {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                 margin-top: 30px;
            
            }
            .Strat-container{
                text-align: center;
                margin-top: 360px;
              }
              .oval-container {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                gap: 1px;
                 margin-top: 30px;
            }
            
            .oval {
                width: 620px;
                height: 50px;
                background-color: #3498db;
                color: #000000;
                border-radius: 25px; /* Half of the height for an oval shape */
                text-align: center;
                line-height: 50px; /* Align text vertically */
                margin: 10px;
                cursor: pointer;
                transition: 0.5s;
            }
            
            .oval:hover {
                transform: translateX(10px);
                background:linear-gradient(90deg,#4a6af8,#00318d );
                 color:#fff;
            }
             /*---------------------------------------DIGITAL TRASFORMATIO-------------------------*/  
              
           
            .content {
                display: flex;
                justify-content: space-between;
                align-items: center; padding-top: 60px;
            }
            
            .text-content {
                flex: 1; margin-left: 100px; padding-top: 0;
            }
            .Rtext-content{padding-right: 40px;margin-right: 40px;}
            h2 {
                font-size: 2rem;
                margin-bottom: 20px;
            }
            
            ul {
                list-style: none;
                padding: 0;
            }
            
            li {
                margin-bottom: 10px;
            }
            
            .images {
                display: flex;
                gap: 20px;
            }
            
            .main-image1 {
                width: 600px;
                height: 400px;
                background: url('clouderp1.png') center/cover; 
            }
            .main-image2 {
                width: 600px;
                height: 400px;
                background: url('clouderp2.png') center/cover; 
            }
            .main-image3 {
                width: 600px;
                height: 400px;
                background: url('cloderp4.png') center/cover; 
            }
            .main-image4 {
                width: 600px;
                height: 400px;
                background: url('clouderp3.png') center/cover; 
            }
            .main-image5 {
                width: 600px;
                height: 400px;
                background: url('clouderp5.png') center/cover; 
            }
            .main-image6 {
                width: 600px;
                height: 400px;
                background: url('clouderp6.png') center/cover; 
            }
            .main-image11 {
                width: 600px;
                height: 400px;
                background: url('trai1.png') center/cover; 
            }
            .main-image12 {
                width: 600px;
                height: 400px;
                background: url('trai2.png') center/cover; 
            }
            .main-image13 {
                width: 600px;
                height: 400px;
                background: url('trai3.png') center/cover; 
            }
            .main-image14 {
                width: 600px;
                height: 400px;
                background: url('trai4.png') center/cover; 
            }
            .main-image15 {
                width: 600px;
                height: 400px;
                background: url('trai5.png') center/cover; 
            }
            .main-image16 {
                width: 600px;
                height: 400px;
                background: url('trai6.png') center/cover; 
            }
            .main-image17 {
                width: 600px;
                height: 400px;
                background: url('trai7.png') center/cover; 
            }
            .main-image18 {
                width: 600px;
                height: 400px;
                background: url('trai8.png') center/cover; 
            }
            .main-image19 {
                width: 600px;
                height: 400px;
                background: url('trai9.png') center/cover; 
            }
            .main-image20 {
                width: 600px;
                height: 400px;
                background: url('trai10.png') center/cover; 
            }
            .main-image21 {
                width: 600px;
                height: 400px;
                background: url('tal1.png') center/cover; 
            }
            .main-image22 {
                width: 600px;
                height: 400px;
                background: url('tal2.png') center/cover; 
            }
            .main-image23 {
                width: 600px;
                height: 400px;
                background: url('tal3.png') center/cover; 
            }
            .main-image24 {
                width: 600px;
                height: 400px;
                background: url('tal4.png') center/cover; 
            }
            .main-image25 {
                width: 600px;
                height: 400px;
                background: url('tal5.png') center/cover; 
            }
            .main-image26 {
                width: 600px;
                height: 400px;
                background: url('tal6.png') center/cover; 
            }
            .main-image27 {
                width: 600px;
                height: 400px;
                background: url('tal7.png') center/cover; 
            }
            .main-image28 {
                width: 600px;
                height: 400px;
                background: url('tal8.png') center/cover; 
            }
            .main-image29 {
                width: 600px;
                height: 400px;
                background: url('tal9.png') center/cover; 
            }
            .main-image30 {
                width: 600px;
                height: 400px;
                background: url('tal10.png') center/cover; 
            }
            
            /*.Strength1{
                width: 100%;
                background-color: rgb(253, 253, 253);
                background: url('BG2.png')no-repeat ;
            }*/
            .main-image41 {
                width: 600px;
                height: 400px;
                background: url('ser4.png') center/cover; 
            }
            .main-image42 {
                width: 600px;
                height: 400px;
                background: url('ser3.png') center/cover; 
            }
            .main-image43 {
                width: 600px;
                height: 400px;
                background: url('ser2.png') center/cover; 
            }
            .main-image44 {
                width: 600px;
                height: 400px;
                background: url('ser1.png') center/cover; 
            }
            .main-image45 {
                width: 600px;
                height: 400px;
                background: url('ser5.png') center/cover; 
            }
            .main-image46 {
                width: 600px;
                height: 400px;
                background: url('ser6.png') center/cover; 
            }
            .main-image47 {
                width: 600px;
                height: 400px;
                background: url('ser7.png') center/cover; 
            }
            .main-image48 {
                width: 600px;
                height: 400px;
                background: url('ser8.png') center/cover; 
            }
            .main-image49 {
                width: 600px;
                height: 400px;
                background: url('ser9.png') center/cover; 
            }
            .main-image50 {
                width: 600px;
                height: 400px;
                background: url('ser10.png') center/cover; 
            }
            .main-image51 {
                width: 600px;
                height: 400px;
                background: url('SALE1.jpg') center/cover; 
            }
            .main-image52 {
                width: 600px;
                height: 400px;
                background: url('sal2.jpg') center/cover; 
            }
            .main-image53 {
                width: 600px;
                height: 400px;
                background: url('sal3.jpg') center/cover; 
            }
            .main-image54 {
                width: 600px;
                height: 400px;
                background: url('sal4.jpg') center/cover; 
            }
            